<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1" style="text-align: center;">Dodavanje grupe</h3>
    <h3 mat-dialog-title *ngIf="flag == 2" style="text-align: center;">Izmena grupe</h3>
    <h3 mat-dialog-title *ngIf="flag == 3" style="text-align: center;">Brisanje grupe: <br>{{grupa.oznaka}}</h3>
    <form class="mat-dialog-content" #formControl="ngForm">
      <div style="padding:1rem;">
      <div class="form">
        <mat-form-field>
          <input matInput placeholder="Oznaka" [(ngModel)]="grupa.oznaka" name="oznaka" [disabled] = "flag == 3" required>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field>
            <mat-select [(ngModel)]="grupa.smer" placeholder="Smer" name="smer" [compareWith]="compareTo" [disabled]="flag == 3" required="">
              <mat-option *ngFor="let smer of smers" [value]="smer">
                {{ smer.naziv }}
              </mat-option>
              </mat-select>
          </mat-form-field>
      </div>




      <div mat-dialog-actions>
        <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">
          Dodaj
        </button>
        <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">
          Sačuvaj
        </button>
        <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">
          Obriši
        </button>
        <button mat-button (click)="cancel()">Poništi</button>
        </div>
        </div>
    </form>
  </div>